:root {
  /* 主题色 */
  --yuuya-color-white: #ffffff;
  --yuuya-color-black: #000000;
  --colors: (
    primary: #409eff,
    success: #67c23a,
    warning: #e6a23c,
    danger: #f56c6c,
    error: #f56c6c,
    info: #909399
  );
  @each $val, $color in var(--colors) {
    --yuuya-color-$(val): $color;
    @for $i from 3 to 9 by 2 {
      --yuuya-color-$(val)-light-$(i): mix(#fff, $(color), .$(i));
    }
    --yuuya-color-$(val)-light-8: mix(#fff, $(color), 0.8);
    --yuuya-color-$(val)-dark-2: mix(#000, $(color), 0.2);
  }
  /* --yuuya-color-primary: #409eff;
  --yuuya-color-primary-light-3: #79bbff;
  --yuuya-color-primary-light-5: #a0cfff;
  --yuuya-color-primary-light-7: #c6e2ff;
  --yuuya-color-primary-light-8: #d9ecff;
  --yuuya-color-primary-light-9: #ecf5ff;
  --yuuya-color-primary-dark-2: #337ecc;
  --yuuya-color-success: #67c23a;
  --yuuya-color-success-light-3: #95d475;
  --yuuya-color-success-light-5: #b3e19d;
  --yuuya-color-success-light-7: #d1edc4;
  --yuuya-color-success-light-8: #e1f3d8;
  --yuuya-color-success-light-9: #f0f9eb;
  --yuuya-color-success-dark-2: #529b2e; */
  /* --yuuya-color-warning: #e6a23c;
  --yuuya-color-warning-light-3: #eebe77;
  --yuuya-color-warning-light-5: #f3d19e;
  --yuuya-color-warning-light-7: #f8e3c5;
  --yuuya-color-warning-light-8: #faecd8;
  --yuuya-color-warning-light-9: #fdf6ec;
  --yuuya-color-warning-dark-2: #b88230; */
  /* --yuuya-color-danger: #f56c6c;
  --yuuya-color-danger-light-3: #f89898;
  --yuuya-color-danger-light-5: #fab6b6;
  --yuuya-color-danger-light-7: #fcd3d3;
  --yuuya-color-danger-light-8: #fde2e2;
  --yuuya-color-danger-light-9: #fef0f0;
  --yuuya-color-danger-dark-2: #c45656; */
  /* --yuuya-color-error: #f56c6c;
  --yuuya-color-error-light-3: #f89898;
  --yuuya-color-error-light-5: #fab6b6;
  --yuuya-color-error-light-7: #fcd3d3;
  --yuuya-color-error-light-8: #fde2e2;
  --yuuya-color-error-light-9: #fef0f0;
  --yuuya-color-error-dark-2: #c45656;
  --yuuya-color-info: #909399;
  --yuuya-color-info-light-3: #b1b3b8;
  --yuuya-color-info-light-5: #c8c9cc;
  --yuuya-color-info-light-7: #dedfe0;
  --yuuya-color-info-light-8: #e9e9eb;
  --yuuya-color-info-light-9: #f4f4f5;
  --yuuya-color-info-dark-2: #73767a; */

  /* 中性色 */
  --yuuya-bg-color: #ffffff;
  --yuuya-bg-color-page: #f2f3f5;
  --yuuya-bg-color-overlay: #ffffff;
  --yuuya-text-color-primary: #303133;
  --yuuya-text-color-regular: #606266;
  --yuuya-text-color-secondary: #909399;
  --yuuya-text-color-placeholder: #a8abb2;
  --yuuya-text-color-disabled: #c0c4cc;
  --yuuya-border-color: #dcdfe6;
  --yuuya-border-color-light: #e4e7ed;
  --yuuya-border-color-lighter: #ebeef5;
  --yuuya-border-color-extra-light: #f2f6fc;
  --yuuya-border-color-dark: #d4d7de;
  --yuuya-border-color-darker: #cdd0d6;
  --yuuya-fill-color: #f0f2f5;
  --yuuya-fill-color-light: #f5f7fa;
  --yuuya-fill-color-lighter: #fafafa;
  --yuuya-fill-color-extra-light: #fafcff;
  --yuuya-fill-color-dark: #ebedf0;
  --yuuya-fill-color-darker: #e6e8eb;
  --yuuya-fill-color-blank: #ffffff;

  /* border */
  --yuuya-border-width: 1px;
  --yuuya-border-style: solid;
  --yuuya-border-color-hover: var(--yuuya-text-color-disabled);
  --yuuya-border: var(--yuuya-border-width) var(--yuuya-border-style) var(--yuuya-border-color);
  --yuuya-border-radius-base: 4px;
  --yuuya-border-radius-small: 2px;
  --yuuya-border-radius-round: 20px;
  --yuuya-border-radius-circle: 100%;

  /* font */
  --yuuya-font-size-extra-large: 20px;
  --yuuya-font-size-large: 18px;
  --yuuya-font-size-medium: 16px;
  --yuuya-font-size-base: 14px;
  --yuuya-font-size-small: 13px;
  --yuuya-font-size-extra-small: 12px;
  --yuuya-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '\5fae\8f6f\96c5\9ed1', Arial, sans-serif;
  --yuuya-font-weight-primary: 500;
  --yuuya-font-line-height-primary: 24px;

  /* disabled */
  --yuuya-disabled-bg-color: var(--yuuya-fill-color-light);
  --yuuya-disabled-text-color: var(--yuuya-text-color-placeholder);
  --yuuya-disabled-border-color: var(--yuuya-border-color-light);
}
